textarea {
}

*, div, pre,body,input,td,tr,p {
	background-color: rgba(127,127,127,0.1) !important;
}


h1,h2,h3,h4 {
	background-color: rgba(127,127,127,0.1) !important;
	color: #e02020 !important;
	color: #d0d0d0 !important;
}

a {
	color: #a0f0b0 !important;
}


