*, .b_ans,.b_algo,header,pre,textarea,body,input,td,tr,p {
	background-color: #9a998E !important;
	color: #E0E0E0 !important;
}

div {
	background-color: #9A998E !important;
	color: #E0E0E0 !important;
}

h1,h2,h3,h4 {
	background-color: #9A998E !important;
	color: #e02020 !important;
}

a {
	color: #000000 !important;
}











